$bg-color-primary: #eff4fc;
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

*,
{
    padding: 0;
    margin: 0;
    font-family: Tahoma;
}

body {
    background-color: $bg-color-primary;
    padding: 0.5rem;
    overflow: scroll;
}

input[type="button"] {
    &:focus {
        outline: none;
    }
}

input[type="text"] {
    &:focus {
        outline: none;
    }
}
