$bg-color-primary: #eff4fc;
$bg-color-campaign-card: white;
$font-color-display: #b8c2d3;
$font-color-display-title: #656e7c;
$bg-color-hover: #6098f2;
.campaign-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    margin: 0.5rem;
    min-width: 25rem;
    height: 11rem;
    background-color: $bg-color-campaign-card;
    border: 1px solid $bg-color-primary;
    box-shadow: 0px 2px 3px 0px rgba(158, 158, 158, 1);
    @media all and (max-width: 26.25rem) {
        margin: 0 0 0.5rem 0;
        display: flex;
    }
}

.campaign-card_actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $bg-color-hover;
}

.campaign-card-actions_link {
    margin-right: 1.9rem;
    color: $bg-color-primary;
    font-size: 1.25rem;
    text-decoration: none;
    &:last-child {
        margin-right: 0;
    }
}

.campaign-card_display {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin-top: 0.5rem;
}

.campaign-card_header,
.campaign-card_body {
    display: flex;
    display: -webkit-box;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 20%;
    max-height: 40%;
}

.campaign-card_header {
    color: $font-color-display-title;
    font-size: 1.6rem;
    font-weight: 525;
    line-height: 1.7rem;
    min-height: 2rem;
}

.campaign-card_body {
    color: $font-color-display;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.campaign-card_footer {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    height: 2.5rem;
    width: 100%;
    border-top: 2px solid $bg-color-primary;
}

.campaign-card-footer_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 500;
    color: $font-color-display;
    border: none;
    border-right: 2px solid $bg-color-primary;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 68%, rgba(239, 239, 239, 1) 100%);
    &:last-child {
        border-right: 0;
        &:hover {
            background: none;
            background-color: $bg-color-hover;
        }
    }
    &:focus {
        outline: none;
    }
}
