.filter-sidebar {
    position: fixed;
    left: calc(100% - 19rem); // Take into account the scrollbar which is the + 1rem.
    z-index: 99;
    top: 0;
    height: 100%;
    transition: transform 0.25s;
    @media all and (max-width: 870px) {
        transform: translateX(19rem);
    }
}

.filter-sidebar_menu {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(42, 50, 63, 1);
    width: 18rem;
    height: 100%;
}

.filter-sidebar_menu--toggle {
    transform: translateX(19rem);
    @media all and (max-width: 870px) {
        transform: translateX(0px);
    }
}

.filter-sidebar_header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    width: 100%;
    letter-spacing: 0.1rem;
}

.filter-sidebar_button {
    background-color: #b8c2d3;
    margin: 0.5rem 0 1rem;
    color: white;
    width: 10.5rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    &:hover {
        background-color: #6098f2;
    }
}

.filter-sidebar_search {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
}

.filter-sidebar_section {
    margin-top: 1.5rem;
    padding: 1.5rem 0.5rem 0 0.5rem;
    width: 100%;
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.filter-sidebar_menu-button {
    position: absolute;
    left: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(42, 50, 63, 1);
    &:before {
        display: flex;
        align-items: center;
        justify-content: center;
        content: '\e9be';
        font-family: 'icomoon';
        speak: none;
        font-size: 2.5rem;
        color: #b8c2d3;
    }
}
