.select-dropdown {
    display: flex;
    flex-direction: column;
    background: none;
    color: white;
    width: 100%;
}

.select-dropdown_title {
    font-size: 0.8rem;
    width: 100%;
    text-align: left;
    color: gray;
}

.select-dropdown_selection {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0.5rem;
    width: calc(100% - 0.5rem);
    height: 2.5rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    border-bottom: 1px solid gray;
    padding-left: 0.5rem;
    &:after {
        display: flex;
        align-items: center;
        justify-content: center;
        content: '\e900';
        font-family: 'icomoon';
        speak: none;
        font-size: 2.5rem;
        color: #b8c2d3;
    }
}

.select-dropdown_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: none;
}

.select-dropdown-list_item {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    margin-left: 1rem;
    color: white;
    height: 2.5rem;
    font-size: 0.8rem;
    text-transform: capitalize;
    border-bottom: 1px solid gray;
    &:hover {
        background-color: #6098f2;
    }
}

.select-dropdown-list-item_contents {
    align-self: center;
}
